# =========================
# APP SETTINGS
# =========================
APP_NAME=MyDVLS
ENV=development
DEBUG=True



# # Full SQLAlchemy URL (used directly in most setups)
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fastapi_db

# Async version (if you use asyncpg)
ASYNC_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/fastapi_db

# =========================
# SECURITY
# =========================
SECRET_KEY=change_this_to_a_long_random_secret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# =========================
# CORS
# =========================
ALLOWED_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]


# sendgrid mail 
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=587
MAIL_SERVER=smtp.sendgrid.net
MAIL_TLS=True
MAIL_SSL=False
MAIL_DEBUG=0
MAIL_FROM_NAME=DVLS