# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# virtual environments
venv/
.env/

# =========================
# FASTAPI / UVICORN
# =========================
*.log

# =========================
# ENV FILES (IMPORTANT)
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# DATABASE
# =========================
*.sqlite3
*.db

# =========================
# TEST / COVERAGE
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# ALEMBIC (optional)
# =========================
alembic/versions/__pycache__/

# static files
static/